{% extends "mezzrow_base_narrow.html" %}
{% load static from staticfiles %}

{% block section_title %}Who we are{% endblock section_title %}

{% block about_active %}class="active back"{% endblock about_active %}

{% block content %}
  <div class="contact">
    <p>
      <span class="orange"><strong>MEZZROW</strong></span> is a listening room and lounge in the heart of the historic
      district of Greenwich Village. Mezzrow is a jazz piano room. On our classic 1923 Steinway we feature the very best
      jazz pianists in New York City. Our lounge is a place for adults to enjoy the relaxed social atmosphere of a jazz
      club. Our listening room is a place for music lovers to have an intimate experience with the artists who are
      performing. Mezzrow is owned and operated by the folks from Smalls Jazz Club (next door at 183 west 10th street) –
      a
      musical environment run by musicians for musicians.
    </p>
  </div>
  <hr class="frame-head-border-sm">
  <hr class="frame-head-border">
  <h2 class="frame-head">WHO WAS MEZZROW?</h2>
  <hr class="frame-head-border bottom">
  <hr class="frame-head-border-sm bottom">
  <div class="contact">
    <p class="orange">
      <em>To all hipsters, hustlers and fly cats tipping along The Stroll. (Keep scuffling)</em>
    </p>

    <p class="orange">
      <em>To all the cons in all the houses of many slammers wrastling with chinches (Short time, boys.)</em>
    </p>

    <p class="orange">
      <em class="orange">To all the junkies and lushes in two-bit scratch-pads, and the flop-house grads in morgue
        ice-boxes (R.I.P.)</em>
    </p>

    <p class="orange">
      <em>To all the sweettalkers, the gumbeaters, the high-jivers, out of the gallion for good and never going to take
        low again. (You got to make it, daddy.)</em>
    </p>

    <p class="orange">
      <em>To Bessie Smith, Jimmy Noone, King Oliver, Louis Armstrong, Zutty Singleton, Johnny Dodds, Sidney Bechet and
        Tommy Ladnier. (Grab a taste of millennium, gate.)</em>
    </p>

    <p class="text-right">
      - Mezz Mezzrow, Dedication to <em>Really The Blues</em>
    </p>

    <p>
      <img class="center-img" src="{% static "img/mazz.png" %}"/>
    </p>

    <p class="text-right cite">Mezz Mezzrow in his office circa November, 1946<br>&copy; William Gottlieb</p>

    <p></p>

    <p><strong class="orange">MILTON “MEZZ” MEZZROW</strong>, (November 9, 1899 – August 5, 1972) was born in Chicago to
      a
      poor Jewish immigrant family. As a juvenile delinquent, he was in and out of reformatory schools and prisons where
      he was exposed to jazz and blues music. He began to play the clarinet and decided to adopt the African American
      culture as his own. He became a ubiquitous figure on the Chicago jazz scene of the 1920’s and ran in the circles
      of
      musicians that included King Oliver, Louis Armstrong, Sidney Bechet, Jimmy Noone, Al Jolson, Baby Dodds, Bix
      Beiderbecke, Louis Bellson and many others. Mezz was an advocate for the pure New Orleans jazz style. Mezz became
      close friends with Louis Armstrong and later became his personal assistant. In the late thirties, Mezz moved to
      Harlem in New York City and married an African American woman. He continued to play and also organize recording
      sessions with many great artists. Mezz Mezzrow also became famous as a marijuana dealer and advocated for the use
      of
      the herb as a healthy alternative to alcohol and other drugs. His product was so well known in the jazz community
      that musicians called it “mezz”, “the mighty mezz” or “mezz-rolls”, as in marijuana cigarettes.</p>

    <p>Above everything Mezz Mezzrow was an advocate for integration and equal rights at time well before the movement
      of
      the 1960’s. Eddie Condon said of Mezz Mezzrow: “When he fell through the Mason-Dixie line he just kept going".
      Mezz
      was the original hipster, slang master, jazz musician and bohemian spirit.</p>

    <p>Mezzrow’s autobiography, Really The Blues, is a colorful masterpiece - a true glimpse into the underworld of
      speakeasies, gangsters and the masters of jazz music as well as a morality tale through the American odyssey <a
              href="http://www.amazon.com/Really-Blues-Mezz-Mezzrow/dp/0806512059/ref=sr_1_1?s=books" target="_blank">(Link
        to Amazon)</a>.</p>
  </div>
{% endblock content %}