{% extends "base.html" %}
{% load static %}

{% block section_title %}Info / contact{% endblock section_title %}

{% block contact_active %}class="active back"{% endblock contact_active %}

{% block content %}
  <div class="contact">
    <address>
      <span class="orange"><strong>MEZZROW</strong></span><br>
      163 West 10th street, basement<br>
      Greenwich Village, New York City<br>
      10014
    </address>
    <p>
      Mezzrow is located near the northeast corner of 7th avenue and West 10th street. We are in the basement and are
      easy
      to miss – so watch carefully.The closest subway is the #1 train at the Christopher station stop. <a
            href="https://www.google.com/maps/place/163+W+10th+St/@40.7344869,-74.0018916,19z/data=!3m1!4b1!4m2!3m1!1s0x89c259943efb93b5:0xfb8ebe807a4073c9"
            target="_blank">CLICK HERE FOR GOOGLE MAP</a>.
    </p>

    <p>
      <span class="orange">HOURS</span><br>
      Monday – Thursday: 6:00 PM to 1:00 AM<br>
      Friday/Saturday: 6:00 PM to 2:00 AM<br>
      Sundays: 3:00 PM - Midnight<br>
    </p>

    <p>
      (646) 476-4346<br>
      <a href="mailto:info@mezzrow.com">info@mezzrow.com</a>
    </p>
  </div>
  <hr class="frame-head-border-sm"></hr>
  <hr class="frame-head-border"></hr>
  <h2 class="frame-head">Mezzrow policies</h2>
  <hr class="frame-head-border bottom"></hr>
  <hr class="frame-head-border-sm bottom"></hr>
  <div class="contact">
    <p>
      <span class="orange"><strong>MEZZROW</strong></span> is a place for adults to convene. We ask that you please
      dress
      smartly. In our lounge area adult behavior is expected and polite conversation acceptable. In our listening room
      we
      expect respectful behavior towards the artists who are performing and for the other people who are sharing the
      music
      with you. In our listening room we ask that you keep conversation to a minimum.
    </p>

    <p>
      Please be aware that Mezzrow is in the basement of a residential building. We are here by the good graces of our
      neighbors and have promised that their quality of life will not be compromised by our business or cliental. Please
      enter and exit the club quietly, particularly later in the evening when tenants may be asleep.
    </p>

    <p>
      There is no smoking allowed in Mezzrow. If you wish to smoke a cigarette, we ask that you exit the club and cross
      the street to the garage side of 10th street so as not to disturb our neighbors. If you need a taxi, we suggest
      that
      you hail one directly on 7th avenue at the corner of 10th street. This is also an excellent location to be let off
      if you are arriving in one.
    </p>

    <p>
      Mezzrow has the right, at the discretion of the management, to remove a client from the premises if they behave in
      a
      manner that is unruly, disruptive or offensive.
    </p>

    <p>
      Mezzrow is a place dedicated to jazz music and the culture of Greenwich Village and New York City.
    </p>
  </div>
{% endblock content %}
