{% extends "mezzrow_base.html" %}
{% load static %}

{% block section_title %}{{ event.display_title }}{% endblock section_title %}

{% block content %}
  <div class="event-details" data-event="">
    <img class="event-img img-thumbnail" src="{% static "img/event/ehud.png" %}"/>
    <ul class="text-left">
      <li class="event-date">{{ event.start|date:"F j" }}th</li>
      <li class="event-time">{{ event.start|date:"g:i A" }} to {{ event.end|date:"g:i A" }}</li>
      <li class="event-price">$40</li>
    </ul>
    <a href="{% url "home" %}" type="button" class="btn btn-default btn-sm back"><span class="arrow-left"></span>View Full Schedule
    </a>
    <button type="button" class="btn btn-default btn-sm"><a href="reservations.html">Make Reservations</a><span
            class="arrow-right"></span></button>
  </div>
{% endblock content %}
