{% extends "mezzrow_base.html" %}
{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load static %}

{% block section_title %}{{ event.display_title }}{% endblock section_title %}

{% block content %}
  <div class="event-details" data-event="">
    <img class="event-img img-thumbnail" src="{% static "img/event/ehud.png" %}"/>
    <ul class="text-left">
      <li class="event-date">{{ event.start|date:"F j" }}th</li>
      <li class="event-time">{{ event.start|date:"g:i A" }} to {{ event.end|date:"g:i A" }}</li>
      {% with product=event.products.all.0 %}
        {% if product %}
          <li class="event-price">{% include "catalogue/partials/stock_record.html" with verbose=1 product=product %}</li>
          {% basket_form request product as basket_form single %}
          <li><form action="{% url 'basket:add' %}" method="post">
              {% csrf_token %}
              {{ basket_form.as_p }}
              <input type="hidden" name="next" value="{% url "checkout:index" %}"/>
              <button type="submit" class="btn btn-primary btn-block">{% trans "Add to basket" %}</button>
          </form></li>
        {% endif %}
      {% endwith %}
    </ul>
    <a href="{% url "home" %}" type="button" class="btn btn-default btn-sm back"><span class="arrow-left"></span>View Full Schedule</a>
    <button type="button" class="btn btn-default btn-sm"><a href="reservations.html">Make Reservations</a><span
            class="arrow-right"></span></button>
  </div>
{% endblock content %}
