{% extends "mezzrow_base_narrow.html" %}

{% block section_title %}Performing this week{% endblock section_title %}

{% block home_active %}class="active back"{% endblock home_active %}

{% block content %}
  <dl id="calendar"> <!-- Calendar events go here. -->
    {% regroup events by listing_date as regrouped_events %}
    {% for day in regrouped_events %}
      <dt class="purple">{{ day.grouper|date:"F j" }}th</dt>
      {% for event in day.list %}
        <dd class="orange">{{ event.start|date:"g:i A" }} to {{ event.end|date:"g:i A" }}</dd>
        <dd class="event"><a href="{% url "event_detail" pk=event.id slug=event.title|slugify %}">{{ event.title }}</a></dd>
      {% endfor %}
    {% endfor %}
  </dl>
{% endblock content %}
