{% extends "mezzrow_base.html" %}

{% block container %}
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 frame">
    <div class="frame-inner">
      <hr class="frame-head-border-sm"/>
      <hr class="frame-head-border"/>
      <h2 class="frame-head">{% block section_title %}{% endblock section_title %}</h2>
      {% block section_subtitle %}{% endblock section_subtitle %}
      <hr class="frame-head-border bottom"/>
      <hr class="frame-head-border-sm bottom"/>
      {% block content %}
      {% endblock content %}
    </div>
  </div>
{% endblock container %}
