{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mezzrow jazz club - Mezzrow is a place dedicated to jazz music and the culture of Greenwich Village and New York City.">
  <meta name="author" content="Appsembler">

  <meta name="apple-mobile-web-app-title" content="Mezzrow">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "img/apple-icons/icon-76.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/apple-icons/icon-120.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/apple-icons/icon-152.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static "img/apple-icons/icon-180.png" %}">

  <title>{% block section_title %}{% endblock section_title %} | Mezzrow jazz club</title>

  <link rel="shortcut icon" href="{% static "favicon.ico" %}">
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/mezzrow.css" %}" rel="stylesheet">

  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block extra_head %}{% endblock %}
</head>
<body>
{% if user.is_superuser %}
  <div class="navbar navbar-inverse " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">Mezzrow admin</span>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url "home" %}">Homepage</a></li>
          <li><a href="{% url "event_add" %}">Event add</a></li>
          <li><a href="{% url "artist_add" %}">Artist add</a></li>
          <li><a href="{% url "dashboard:index" %}">Store dashboard</a></li>
          <li><a href="{% url "account_logout" %}">Log out</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
{% endif %}
      <ul class="navbar-right social">
        <li><a href="https://www.facebook.com/mezzrowclub" class="fb" rel="nofollow" target="_blank"></a></li>
        <li><a href="https://twitter.com/mezzrowclub" class="twt" rel="nofollow" target="_blank"></a></li>
      </ul>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <div class="navbar navbar-static-top" role="navigation">
        <div class="navbar-inner">
          <img src="{% static "img/head.png" %}" class="img-responsive mezzrow-logo"/>
          <ul class="nav nav-mezz navbar-nav">
            <li {% block home_active %}{% endblock home_active %}><a href="{% url "home" %}">Schedule</a></li>
            <li {% block about_active %}{% endblock about_active %}><a href="{% url "about" %}">Who We Are</a></li>
            <li {% block contact_active %}{% endblock contact_active %}><a href="{% url "contact" %}">Info/Contact</a></li>
            <li {% block ticketing_active %}{% endblock ticketing_active %}><a href="{% url "ticketing" %}">Reserve</a></li>
            <li {% block gallery_active %}{% endblock gallery_active %}><a href="{% url "gallery" %}">Photos</a></li>
            <li><a href="http://www.smallslive.com/" rel="external">SmallsLIVE</a></li>
            <!--     <li><a href="reservations.html">Reservations</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% block container %}{% endblock container %}
    <footer>
    </footer>
  </div>
</div>
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53231317-1', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
