<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Mezzrow</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/mezzrow.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 no-scale">
          <div class="navbar navbar-static-top" role="navigation">
            <div class="navbar-inner">
              <img src="img/head.png" />
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Schedule</a></li>
                <li><a href="about.html">Who Are We</a></li>
                <li><a href="contact.html">Info/Contact</a></li>
             <!--    <li  class="active"><a href="#">Reservations</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
        </div>
      </div>
    </div>
    <ul class="navbar-right social">
      <li><a href="" class="fb" rel="nofollow" target="_blank"></a></li>
      <li><a href="" class="twt" rel="nofollow" target="_blank"></a></li>
      <li><a href="" class="tmblr" rel="me author" target="_blank"></a></li>
      <li><a href="" class="inst" rel="nofollow" target="_blank"></a></li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4 frame no-scale">
          <div class="frame-inner">
            <hr class="frame-head-border-sm"></hr>
            <hr class="frame-head-border"></hr>
            <h2 class="frame-head">Reservations</h2>
            <hr class="frame-head-border bottom"></hr>
            <hr class="frame-head-border-sm bottom"></hr>
            <div id="reservations"> <!-- Reservation wigdet goes here --> </div>
          </div>
        </div>
        <div class="col-xs-4">
        </div>
      </div>
      <footer>
      </footer>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
