{% extends "mezzrow_base_narrow.html" %}
{% load static %}

{% block section_title %}Mezzrow  Advanced Ticketing Rules and Conditions{% endblock section_title %}

{% block ticketing_active %}class="active back"{% endblock ticketing_active %}

{% block content %}
  <div class="contact">
    <ol>
      <li>Tickets are for our Listening Room. Tickets are not necessary for our lounge.</li>
      <li>Your ticket guarantees you a seat(s) at a table in our Listening Room.</li>
      <li>We cannot guarantee that parties larger than 3 will be able to sit together.</li>
      <li>Your ticket is good for the one-set that you have chosen. Sets will be sold individually. If there are
        available seats and you wish to stay for another set, the management will invite you.
      </li>
      <li>We ask that you arrive at a minimum of 20 minutes before the show you have selected.</li>
      <li>Your name will be on a list at the door when you arrive. The manger will confirm your reservation and show you
        to your seat.
      </li>
      <li>Tickets can be refunded in person at the club up until the day before the show. Please notify us by email
        (mezzrowclub@gmail.com) if you need to cancel your ticket for a refund.
      </li>
      <li>Late-comers will be seated at the discretion of the management.</li>
      <li>The will be no “paper” ticket – just a confirmation number that you will receive via email.</li>
    </ol></p>
  </div>
{% endblock content %}
