{% extends "mezzrow_base_narrow.html" %}
{% load static from staticfiles %}

{% block section_title %}Mezzrow  Advanced Ticketing Rules and Conditions{% endblock section_title %}

{% block ticketing_active %}class="active back"{% endblock ticketing_active %}

{% block content %}
  <div class="contact">
    <p>The cover charge at the door at <strong>Mezzrow</strong> is <strong>$20</strong> and is applicable from 8:00 PM
      to 12:00 AM. This is a charge for
      the music and does not include a drink. The 12:30 AM shows on Friday & Saturday are <strong>$10</strong>. There is no cover charge
      for the “happy hour” from 6:30 to 8:00PM, however, if you wish to stay for the music at 8:30 PM you will be asked
      to pay the cover. The student price of <strong>$10</strong> will be offered depending on the day and show and at the discretion of
      the management.</p>

    <p>The general admission ($20) at the door does not necessarily insure you a seat near the music. However, there
      will be a total of 30 <strong>Guaranteed Seats</strong> offered in advance per set. A <strong>Guaranteed
        Seat</strong> insures you of a place in the
      front of the club at a table near the music and costs <strong>$25</strong>. If all the <strong>Guaranteed
        Seats</strong> are sold then there still
      may be room to see the show in the lounge area as the club can hold 55 guests.</p>

    <p>If you want to guarantee an advanced seat(s) in the listening room then you may purchase one by clicking on the
      link next to the event’s information. Click on the show of your choice and choose which set you’d like to purchase
      a seat for. Not all shows will offer guaranteed seats.</p>

    <p>A purchase of a <strong>Guaranteed Seat</strong> is for <strong>One Set Only</strong>. You may stay for a second
      set depending on availability and at the discretion of the management. After the set is over you are welcome to
      remain in the lounge area for as long as you wish.</p>

    <p>The purchase of a <strong>Guaranteed Seat</strong> is <strong>Non-Refundable</strong> – please be careful to
      understand this when making your purchase. However, if given enough time, we can transfer your seat for the
      next set or another show altogether depending on availability. In the case of needing to transfer your seat,
      please email <a href="mailto:mezzrowclub@gmail.com">mezzrowclub@gmail.com</a> to initiate a transfer.</p>

    <p>After purchasing your <strong>Guaranteed Seat</strong> you will receive an <strong>email confirmation</strong>
      with your party’s name, the date and set time and a confirmation number. Your name will be on a list at the door
      and the manager will show you to your seat. There will be no paper ticket issued. If you do not see this email
      receipt first check your spam folder. Otherwise, please contact us as soon as possible.</p>

    <p>We ask that you arrive early to your purchased show. The seats in the listening room area are not assigned but
      your place is guaranteed. We cannot insure that large parties will be able to sit together.</p>

    <p>Latecomers run the risk of losing their seats. The management reserves the right to re-sell the seat if you
      haven’t show up within 10 minutes of the start time of the set. We will try our best to accommodate all latecomers
      but the listening room is small.</p>
  </div>
{% endblock content %}
