{% extends "events/event_add.html" %}
{% load crispy_forms_tags static %}

{% block section_title %}
  Edit event
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="left-aligned-form">
    {% crispy form %}
    {% if event.products %}
      <ul><strong>Tickets:</strong>
      {% for product in event.products.all %}
        <li><a href="{% url "dashboard:catalogue-product" pk=product.id %}">{{ product.title }} - {{ product.set }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    <div class="buttonHolder">
      <input type="submit" name="submit" value="Save event" class="btn btn-primary btn btn-primary" id="submit-id-submit">
      <input type="button" name="delete" value="Delete event" class="btn btn btn-danger" id="button-id-delete" data-target="#deleteModal" data-toggle="modal">
    </div>
  </form>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                  class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Delete {{ event.title }}</h4>
        </div>
        <div class="modal-body">
          Are you <strong>sure</strong> you want to delete the event {{ event.title }}?
        </div>
        <div class="modal-footer">
          <form action="{% url "event_delete" pk=event.id slug=event.title|slugify %}" method="post"
                class="left-aligned-form">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete"/>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}