{% extends "mezzrow_base_wide.html" %}
{% load crispy_forms_tags static %}

{% block section_title %}Add/Edit Gig{% endblock section_title %}

{% block extra_head %}
  {{ form.media }}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/image-picker.css' %}" rel="stylesheet">
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="left-aligned-form">
    {% crispy form %}
    <div class="alert alert-warning">
      <div id="div_id_state" class="form-group">
        <label for="id_state" class="control-label">Add tickets</label>

        <div class="controls ">
          {% for ticket_form in ticket_forms %}
            {% crispy ticket_form %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="buttonHolder">
      <input type="submit" name="submit" value="Save event" class="btn btn-primary btn btn-primary" id="submit-id-submit">
    </div>
  </form>
{% endblock content %}

{% block extra_js %}
  <script src="{% static "js/event_form.js" %}"></script>
  <script src="{% static "js/image-picker.js" %}"></script>
  <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
  <script>
    var show_times = {{ show_times|safe }};
    $toggle = $(".toggle");

    function checkTicketFormVisibility(element) {
      $full_form = $(element).parents(".form-group").next();
        if($(element).is(':checked')) {
          $full_form.show();
        } else {
          $full_form.hide();
        }
    }
    $toggle.click(function() {
        checkTicketFormVisibility(this)
      });

    $(document).ready(function () {
      EventForm.SITE_URL = "{{ request.META.HTTP_HOST }}";
      EventForm.init();
      $('.imagepicker').imagepicker();
      checkTicketFormVisibility($toggle);
    });
  </script>
{% endblock %}