{% extends "mezzrow_base_wide.html" %}
{% load crispy_forms_tags static %}

{% block extra_head %}
  {{ form.media }}
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block section_title %}Add new artist{% endblock section_title %}

{% block content %}
  <form method="post" class="f-add-artist left-aligned-form" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
    <button type="submit" class="btn btn-primary">Add artist</button>
  </form>

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  <script>
    $("#id_instruments").selectize({
      create: function (input) {
        return {
          value: input,
          text: input
        }
      }
    });
  </script>
{% endblock extra_js %}