{% extends "checkout/layout.html" %}

<!--

ATTENTION!

This file was modified in October 2016. The returning customer option was
disabled, and the guest status was hard-coded and hidden into the template.

-->

{% load i18n %}

{% block title %}
  {% trans "Checkout gateway" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
  {% include 'checkout/nav.html' with step=0 %}
{% endblock %}

{% block checkout_title %}{% trans "Who are you?" %}{% endblock %}

{% block content %}

  <form action="." method="post" class="form-stacked well">
    {% csrf_token %}
    <div class="control-group error">
    {{ form.non_field_errors }}
    </div>
    <div class="row" style="margin-left: 20px">
      <div class="span4">
        {% include "partials/form_field.html" with field=form.username %}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="radio">
          <input type="hidden" name="options" type="radio" value="anonymous" />
          <div class="form-inline">
            {% include "partials/form_field.html" with field=form.first_name %}
            {% include "partials/form_field.html" with field=form.last_name %}
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <div class="row-fluid">
        <div class="span3">
          <button type="submit" class="btn btn-large btn-block btn-primary">{% trans "Continue" %}</button>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}

{% block onbodyload %}
  {{ block.super }}
  oscar.checkout.gateway.init();
{% endblock %}
