{% extends "base.html" %}
{% load i18n static %}
{% load promotion_tags %}
{% load category_tags %}

{% block extrastyles %}
  <link href="{% static "css/mezzrow.css" %}" rel="stylesheet">
  <link href="{% static "img/favicon.ico" %}" rel="shortcut icon">
{% endblock %}

{% block layout %}

  <header class="header container">
    <div class="page_inner">
      <div class="row-fluid">
        {% include "partials/brand.html" %}
      </div>
      <!-- /row-fluid -->
    </div>
    {% block checkout_nav %}{% endblock %}
  </header><!-- /header -->

  <div class="container">
    <div class="row-fluid">
      <div class="span10 offset1 frame">
        <div class="frame-inner checkout">
          <hr class="frame-head-border-sm"/>
          <hr class="frame-head-border"/>
          <h2 class="frame-head">{% block checkout_title %}{% endblock %}</h2>
          <hr class="frame-head-border bottom"/>
          <hr class="frame-head-border-sm bottom"/>
          <!-- The main nav on checkout pages contain links to modal flatpages -->
          {% block modal %}
            {% load flatpages %}
            {% get_flatpages '/order/' as flatpages %}
            {% for page in flatpages %}
              <div id="{{ page.title|slugify }}" class="modal hide fade">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal">×</a>

                  <h3>{{ page.title }}</h3>
                </div>
                <div class="modal-body">
                  <div class="large-content">
                    {{ page.content|safe }}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endblock %}

          {% block content %}{% endblock %}

          <div id="promotions">
            {% for promotion in promotions_page %}
              {% render_promotion promotion %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  {% include "partials/footer_checkout.html" %}
{% endblock %}
